.footer{
    margin-top:0;
    background-color:#1F2321;
    color:#ECEFEA;
    padding:60px 0 20px;
    font-size: 0.9rem;
}

.footer-container{
    max-width:1000px;
    margin:0 auto;
    padding:0 20px 40px;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    gap: 30;
    border-bottom:1px solid rgba(255,255,255,0.1);
}

.footer-col h4{
    color:white;
    margin-bottom:20px;
    text-transform:uppercase;
    font-size:0.85rem;
    letter-spacing:1px;
}

.footer-logo{
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 700;
    color:white;
    margin-bottom: 15px;
}

.footer-icon{
    color: var(--primary-green);
    margin-right: 10px;

}

.social-icons{
    display: flex;
    gap:12px;
}
.social-icons a {
    color:#aaa;
    font-size: 1.1rem;
    transition:color 0.3s;

}

.social-cons a:hover{
    color:var(--primary-green);
}

.footer-links{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.footer-links a{
    text-decoration:none;
    color:#aaa;
    transition: all 0.2s;

}

.footer-links a:hover{
    color:white;
    padding-left:3px;
}

.contact-info p{
    color:#aaa;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.footer-bottom{
    text-align: center;
    padding-top: 20px;
    font-size: 0.8rem;
    color: #666;
}

@media (max-width:768){
    .footer-container{
        grid-template-columns: 1fr;
        text-align: center;
        gap:40px;
    }
    .footer-logo , .social-icons, .contact-info p{
        justify-content: center;
    }
}