.home-wrapper {
  width: 100%;
  overflow-x: hidden;
}

.content-container{
    max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative; 
  z-index: 2;
}
.home-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/*ABOUT SECTION*/
.about-section{
    text-align:center;
     background-color: rgba(220, 220, 220, 0.623);
    padding:100px 0px 80px;
    border-bottom:1px solid rgba(0,0,0,0.05);
}

.sub-heading{
    color: #515e56;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom:20px;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.about-section h2{
    font-size:3rem;
    color: var(--primary-green);
    margin-bottom:30px;
    font-weight: 800;
    letter-spacing: -1px;
    line-height:1.1;
}

.about-section p {
  font-size: 1.15rem;
  color: var(--text-muted);
  line-height: 1.9;
  max-width:700px;
  margin:0 auto;
}

/*FEATURES SECTION(grid)*/

.features-section{
    background:url('/images/bg9.jpg') ;
    background-size: cover;
    background-attachment: fixed;
    padding: 60px 0; 
    position: relative;
}

.features-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(192, 192, 192, 0.789));
    backdrop-filter: blur(0.1px); 
    z-index: 1;
}

.features-grid{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;

}

.feature-card{
    /*/* Using the global .glass-panel class from index.css */
   background:rgba(115, 123, 118, 0.907);
   padding:30px 20px;
   border-radius: 5px;
   text-align:center;
   display:flex;
   flex-direction:column;
   align-items:center;
   gap:12px;
   transition: transform 0.3s ease;
   
}

.feature-card:hover{
    transform: translateY(-5px);
    border-bottom: 4px solid #47514b;
}

.icon-box{
    font-size:2rem;
    color: #47514b;
    background: transparent;
    margin-bottom:10px;
}

.feature-card h3{
    font-size:1.3rem;
    color:var(--text-charcoal) ;
    font-weight:700;
}
.feature-card p{
    font-size:0.95rem;
    color: #e2e0e0;
    line-height:1.6;
}

/*FEATURED PROPERTIES*/

.featured-listings{
    background-color: rgba(220, 220, 220, 0.623); 
    padding: 100px 0;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 40px;
  border-bottom: 2px solid #f0f0f0;
  padding-bottom: 20px;
}

.section-header h2{
    font-size:2.2rem;
    color: #515e56;
    letter-spacing:-0.5px;
}

.view-all-link{
    color:var(--text-charcoal);
    font-weight: 600;
    font-size:0.9rem;
    text-transform:uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid transparent;
}
.view-all-link:hover {
  color: var(--primary-green);
  border-bottom: 1px solid var(--primary-green);
  text-decoration: none;
}

.home-properties-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.cta-section{
    text-align:center;
    padding: 100px 20px;
    background-image:url('/images/hero2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position:relative;
    margin-bottom:0;
    border-radius:0;
 }
.cta-section::before {
  content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(84, 88, 85, 0.507), rgba(75, 78, 77, 0.693),rgba(145, 167, 156, 0.362));
    backdrop-filter: blur(0.1px); 
    z-index: 1;
}

.cta-section .content-container,
.cta-section h2,
.cta-btn {
  position: relative;
  z-index: 2;
}

.cta-section h2{
    color:#f8f8f8a3;
    margin-bottom:40px;
    font-size:3rem;
    font-weight:800;
    letter-spacing:-1px;
    text-shadow: 0 4px 20px rgba(149, 149, 149, 0.5);

}

.cta-btn{
    background-color:#2a2d2ceb;
    color:rgb(157, 154, 154);
    padding:20px 60px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size:0.9rem;
    transition: all 0.3s ease;
    border: 1px solid rgb(131, 142, 135);
    display:inline-block;
    cursor: pointer;
    text-decoration: none;
}

.cta-btn:hover{
    background-color: var(--primary-green);
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}


