.navbar {
    background: transparent;
    height: 80px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1rem;
    z-index: 999;
    
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9%;
    width: 100%;
    max-width: 1200px;
    padding: 0 40px;
}
.navbar-logo{
    display:flex;
    align-items:center;
    text-decoration:none;
    font-size:1.5rem;
    font-weight:700;
    color:white;
    letter-spacing: 0.5px;
    transition:opacity 0.3s ease;
    text-transform: uppercase;
}
.navbar-logo:hover {
  opacity: 0.9;
}
.logo-icon{
    margin-right: 12px;
    color:var(--primary-green);
    font-size:1.8rem;
    transition: transform 1.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.navbar-logo:hover .logo-icon{
    transform:rotateY(360deg);
}

/*Menu Links*/

.nav-menu{
    display:flex;
    list-style:none;
    gap:40px;
    align-items: center;
    margin:0;
    gap: 5px;
}
.nav-item {
  display: flex;
  align-items: center;
}
.nav-item:not(:last-child)::after {
  content: '';
  display: block;
  width: 1px;
  height: 20px; 
  background-color: rgba(255, 255, 255, 0.2); 
  margin: 0 15px; 
}
.nav-links{
    text-decoration: none;
    color: #94a3b8;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: call 0.3s ease;
}

.nav-links:hover{
    color:#fff;
    background-color:rgba(255, 255, 255, 0.08) ;
    backdrop-filter: blur(5px);
}

.nav-links.active {
  color: #38bdf8;
  background-color: rgba(56, 189, 248, 0.1);
  font-weight: 600;
}

/*Favorite Badge*/

.fav-badge{
   background: #ef4444;
    color: white;
    font-size: 0.7rem;
    font-weight: bold;
    min-width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 8px;
    
}

/* Responsiveness */
@media screen and (max-width: 768px){
    
    .nav-menu{
       position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 70px;
        background: #1e293b;
        justify-content: space-around;
        border-top: 1px solid rgba(255,255,255,0.1);
        padding: 0;
        z-index: 1000;
  }
    .nav-item:not(:last-child)::after {
    display: none;
  }

    .nav-links{
      flex-direction: column;
        font-size: 0.8rem;
        gap: 4px;
        background-color: transparent !important;
  }
   .nav-links.active {
     color: #38bdf8;
    }
    }

