.navbar {
    background: transparent;
    height: 80px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1rem;
    z-index: 999;
    
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9%;
    width: 100%;
    max-width: 1200px;
    padding: 0 40px;
}
.navbar-logo{
    display:flex;
    align-items:center;
    text-decoration:none;
    font-size:1.5rem;
    font-weight:700;
    color:white;
    letter-spacing: 0.5px;
    transition:opacity 0.3s ease;
    text-transform: uppercase;
}
.navbar-logo:hover {
  opacity: 0.9;
}
.logo-icon{
    margin-right: 12px;
    color:var(--primary-green);
    font-size:1.8rem;
    transition: transform 1.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.navbar-logo:hover .logo-icon{
    transform:rotateY(360deg);
}

/*Menu Links*/
.nav-menu{
    display:flex;
    list-style:none;
    gap:35px;
    align-items: center;
    margin:0;
}

.nav-links{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.85);
    font-weight: 500;
    font-size:0.95rem;   
    letter-spacing:0.5px;
    transition: all 0.3s ease;
    position: relative;
    padding: 15px 0;
}
.nav-links:hover{
    color:#fff;
    transform:translateY(-1px);
}

.nav-links::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-green);
    transition: width 0.3s ease-in-out;
}
.nav-links:hover::after{
    width: 100%;
}
.nav-links.active {
  color: white;
  font-weight: 700;
}

.nav-links.active::after {
  width: 100%;
}

/*Favorite Badge*/

.fav-badge{
   position:absolute;
   top:-8px;
   right:-12px;
   background-color: var(--primary-green);
   color: white;
  font-size: 0.65rem;
  font-weight: bold;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/* Responsiveness */
@media screen and (max-width: 768px){
    
.nav-menu{
    display:none;
}

}