.property-card {
    background: rgba(220, 220, 220, 0.756);
    border: 1px solid rgba(100, 127, 115, 0.863);
    border-radius: 4px;
    overflow: hidden;
    transition: all 0.3s ease; 
    display: flex;
    flex-direction: column;
    height: 100%; 
    position:relative;
}


.card-image-container{
    position: relative;
    height: 240px;
    background-color:#eee;
    overflow:hidden;

}
.card-image{
    width:100%;
    height:100%;
    object-fit: cover;
    transition: trasform 0.5s ease;
}
.peroperty-card:hover .card-image{
    transform:scale(1.05);
}
.favorite-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(5px);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  z-index: 10;
  color: #aaa;
  font-size: 1.1rem;
}

.favorite-btn:hover, .favorite-btn.active {
  background:white;
  transform: scale(1.1);
  color: #e74c3c;
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}
.card-content{
    padding:25px;
    display:flex;
    flex-direction:column;
    gap:15px;
    flex:1;

}
.card-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-weight:700;

}

.property-type{
    color:#47514b;
    font-size:0.75rem;
    text-transform: uppercase;
    letter-spacing:1px;
    background: rgba(111, 143, 106, 0.1);
    padding:4px 8px;
    border-radius: 4px;
}
.property-price{
    color:var(--text-charcoal);
    font-size:1.25rem;
}

.card-location{
    margin:0;
    font-size:1rem;
    color:var(--text-charcoal);
    font-weight:700;
    line-height:1.3;
}
.view-details-btn{
    display:block;
    text-align:center;
    background-color: #2a2d2ceb;
    color:#f8f8f8a3;
    border: 1px solid rgba(131, 142, 135);
    padding:12px;
    border-radius:2px;
    text-decoration:none;
    font-weight:700;
    font-size:0.85rem;
    text-transform: uppercase;
    letter-spacing:1px;
    transition: all 0.3s;
}

.card-description{
    color: var(--text-muted);
    font-size:0.9rem;
    line-height:1.6;
}

.card-footer{
    margin-top: auto;
    display:flex;
    flex-direction: column;
    gap:15px;
    border-top:1px solid #f0f0f0;
    padding-top:15px;
}

.specs{
    font-size:0.9rem;
    color:var(--text-charcoal);
    font-weight: 600;
    display: flex;
    align-items: center;
    gap:5px;
}

.view-details-btn:hover{
    background-color:var(--primary-green);
    color:white;
    border:none;
}