.properties-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
    padding: 20px 0;
}

.search-header{
    text-align:center;
    margin-bottom:30px;
}

.results-count {
    text-align: center;
    margin-bottom: 20px;
    color: #7f8c8d;
    font-weight: 500;
}

.results-count p {
    background-color: white;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 0.9rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}