.search-page{
    background: url('/images/bg9.jpg');
    background-size:cover;
    min-height:100vh;
    padding:120px 20px 60px;
    position:relative;
}

.search-page::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(242, 245, 243, 0.9), rgba(242, 245, 243, 0.6));
    z-index:1;
    pointer-events: none; /*click through */
}

.properties-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 30px;
    max-width: 1400px;
    margin:0 auto;
}

.search-header, .results-count, .properties-grid {
    position:relative;
    z-index:2;
}

.search-header{
    text-align:center;
    margin: bottom 40px;
}
.search-header h2{
    font-size:3rem;
    color:var(--primary-green);
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing:-1px;
    margin-bottom: 30px;
}

.results-count {
    text-align: center;
    margin-bottom: 30px;
    color: var(--text-charcoal);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 2px;
    padding-top:10px;
}

.results-count p {
    background-color: white;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 0.85rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    border: 1px solid #eee;
}

