.search-page{
    max-width: 1400px;
    margin: 0 auto;
}

.properties-grid{
    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  padding: 0 15px 40px 20px; 
}

.search-header{
    text-align:center;
    margin-bottom:15px;
}

.results-count {
    text-align: center;
    margin-bottom: 5px;
    margin-top: -15px; 
    color: #7f8c8d;
    font-weight: 500;
}

.results-count p {
    background-color: white;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 0.85rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    border: 1px solid #eee;
}